[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==18.9b0"
autoflake = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[scripts]
setup = "bash -c \"cp .env.template .env\""
format = "bash -c \"autoflake --remove-all-unused-imports -i -r . && isort -rc . && black .\""
format-check = "bash -c \"autoflake --remove-all-unused-imports -c -r . && isort -rc -c . && black --check --diff .\""
lint = "bash -c \"flake8 cashflow_controller --exclude 'test*' && flake8 cashflow_api --exclude 'test*'\""
