[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==18.9b0"
autoflake = "*"
isort = "*"
flake8 = "*"
responses = "*"
freezegun = "*"
mypy = "*"
yamllint = "*"
pre-commit = "*"
fluidly-generic-delete = {editable = true, path = "./fluidly-generic-delete"}
fluidly-generic-query = {path = "./fluidly-generic-query", editable = true}
fluidly-structlog = {path = "./fluidly-structlog", editable = true}
fluidly-pubsub = {path = "./fluidly-pubsub", editable = true}
fluidly-sqlalchemy = {path = "./fluidly-sqlalchemy", editable = true}
fluidly-flask = {editable = true, path = "./fluidly-flask"}
fluidly-auth = {path = "./fluidly-auth", editable = true}
fluidly-fastapi = {editable = true, path = "./fluidly-fastapi"}

[requires]
python_version = "3.7"

[scripts]
setup = "bash -c \"cp .env.template .env && pre-commit install\""
format = "bash -c \"autoflake --remove-all-unused-imports -i -r . && isort . && black .\""
format-check = "bash -c \"autoflake --remove-all-unused-imports -c -r . && isort -c . && black --check --diff .\""
lint = "bash -c \"flake8 fluidly-* && yamllint .\""
type-check = "bash -c \"find . -name 'fluidly-*' ! -name '*-generic-*' -type d -print0 | xargs -0 -n1 -I {} mypy '{}/fluidly/' --strict\""

[packages]
